@model IEnumerable<BookClubMVC.Models.Book>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2> <br />

<h3>Type any string you want to search in book titles</h3>


@using (Html.BeginForm())
{
    <p>
        Title: @Html.TextBox("SearchString") 
        <input type="submit" value="Filter" />
    </p>
}

 

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckedOutID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedOutID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                @{
                    if (item.CheckedOutID == null)
                    {
                        @Html.ActionLink("Checkout", "Checkout", new { id = item.ID })
                    }
                    else
                    {
                        @Html.ActionLink("Return", "ReturnSearch", new { id = item.ID })
                    }
                }
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>





